<?xml version="1.0"?>
<ruleset
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        name="Scout APM coding standard"
        xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd"
>
    <config name="php_version" value="70100" />
    <arg value="p"/>
    <arg value="s"/>
    <arg name="colors"/>
    <arg name="cache" value=".phpcs-cache"/>

    <file>src</file>
    <file>tests</file>

    <exclude-pattern>tests/psalm-stubs.php</exclude-pattern>
    <exclude-pattern>src/Cache</exclude-pattern>

    <rule ref="Doctrine">
        <exclude name="Generic.Files.LineLength.TooLong"/>
    </rule>
    <rule ref="PSR1.Files.SideEffects.FoundWithSymbols">
        <exclude-pattern>src/Extension/ExtensionCapabilities.php</exclude-pattern>
    </rule>
</ruleset>
